
/*
* Docs: https://github.com/css-modules/css-modules
*/
:local(.button) {
    color: white;
    background-color : #008CBA;
    width: 12.7em; 
    height: 2.5em; 
    font-size: 1em;
    padding-left: 5px;
    margin: 10px;
    border-radius: 4px;
  }
  :local(.button:hover) {
    color:oldlace;
    background-color: #007CBA;
    cursor: pointer;
  }
 
