:local(.cLink:link) {
    color: red;
}

/* visited link */
:local(.cLink:visited) {
    color: green;
}

/* mouse over link */
:local(.cLink:hover) {
    color: hotpink;
    cursor: pointer;
}

/* selected link */
:local(.cLink:active) {
    color: blue;
}

:local(.cLink){
    color:rebeccapurple;
    flex: 1 1 auto;
}